# === Keep large data out of the repo ===
00_rawdata/*
trimmed/*
align/*
01_allignment/*
01_alignment/*

# === Keep these small, useful outputs tracked ===
!reports/**
!qc_post/multiqc_report.html
!run_fastp.sh
!samples.txt
!03_annotation/**

# Misc editor/OS junk
.DS_Store
*.swp
